[Unit]
Description=Hourly timer for the %i service

[Timer]
OnCalendar=*-*-* *:00:00
RandomizedDelaySec=10m
Unit=%i.service

[Install]
WantedBy=timers.target
