[Unit]
Description=Cron runner for rclone
OnFailure=sendmail@rclone-wallpapers.service

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone copy "crosbyco3:/Photos/Wallpapers" "${HOME}/Pictures/wallpapers"
