[Unit]
Description=Update the GNOME compiled schemas
OnFailure=notify-send@update-compiled-schemas.service

[Service]
Type=oneshot
ExecStart=%h/.local/libexec/systemd/update-compiled-schemas
