.python-version
*.local
node_modules/
/src/bookmarks
/src/wallpapers.xml
/src/preseed.cfg
/src/cmdline
/src/firefox/1m544c8z.default-release/user.js
/src/systemd/configure-zswap.service
/src/systemd/notify-send-system@.service
